<div class="login-container">
    <div class="login-logo">
        <img src="../img/logo.png" class="logo" alt="logo">
    </div>

    <div class="login-box">
        <h2>Login</h2>
        <form id="login-form">
            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Contraseña</label>
            </div>

            <div class="button-form">
                <input type="submit" value="Submit" id="submit">

                <div id="register">
                    Don't have an account?
                    <a href="./register">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/login.js"></script>