<header class="header">
    {{> userNav}}

    <div class="users-container" id="users-container">
        <h2>Ordenes de Compra</h2>
        {{#if hasOrders}}
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th class="order-th">N° de Orden</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody id="list-products">
                        {{#each orders}}
                            <tr>
                                <td class="order-td">{{this.order}}</td>
                                <td>{{this.created_at}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
        {{else}}
            <p>No hay ordenes generadas</p>
        {{/if}}
    </div>
</header>