.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.cart-container h2 {
    color: #bdafda;
    text-align: center;
    margin: 50px;
    font-family: 'calibri';
    font-size: 38px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #8F7CEC, 0 0 2px #8F7CEC, 0 0 50px #7363c2;
}

.cart-container p {
    color: whitesmoke;
    text-align: center;
    margin: 50px;
    font-family: 'calibri';
    font-size: 24px;
}

.table-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.table-container > h3 {
    color: whitesmoke;
    text-align: center;
    font-family: 'calibri';
}

table {
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'calibri';
    border: none;
    border-collapse: collapse;
    width: 70%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0 15px 25px rgba(65, 57, 102, 0.2);
    border: none;
}

thead {
    background: #242026;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid grey;
}

td, th {
    text-align: center;
    width: 100%;
}

th {
    font-size: 18px;
    color: #ffffff;
}

td {
    font-size: 16px;
    color: black !important;
}

.td-delete > i {
    cursor: pointer;
    color: grey;
    transition: .3s;
}

.td-delete > i:hover {
    color: black;
}

.img-product {
    width: 50%;
}

.total-table {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
}

.total-table th {
    color: black;
    text-align: left;
    padding-left: 30px;
}

.total-table td {
    color: black;
    text-align: right;
    padding-right: 30px;
}

.btn-confirm {
    width: 30%;
    background: #242026 !important;
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
}

.btn-confirm:hover {
    background: #8F7CEC !important;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC;
}