.users-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-container h2 {
    color: #bdafda;
    text-align: center;
    margin: 50px;
    font-family: 'calibri';
    font-size: 38px;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #8F7CEC, 0 0 2px #8F7CEC, 0 0 50px #7363c2;
}

.users-container > p {
    color: whitesmoke;
    text-align: center;
    margin: 50px;
    font-family: 'calibri';
    font-size: 24px;
}

.table-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

table {
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: 'calibri';
    border: none;
    border-collapse: collapse;
    width: 90%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0 15px 25px rgba(65, 57, 102, 0.2);
    border: 1px solid #1A2929;
}

thead {
    background: #242026;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

td, th {
    text-align: center;
    width: 100%;
    padding: 10px;
}

th {
    font-size: 16px;
    color: #ffffff;
}

td {
    font-size: 16px;
    color: black !important;
}

.order-th, .order-td {
    width: 40%;
}

.items-td {
    width: 55%;
}

.order-item {
    color: black;
    font-size: 18px;
    margin: 2px;
    text-align: left;
}

