<nav class="adminNav">
    <a  href="/">
        <img src="../img/logo.png" class="logo" alt="logo">
    </a>
    <ul>
        <li>
            <a href="/">
                Productos
            </a>
        </li>
        <li>
            <a href="./productsPanel" id="productsPanel-button">
                Editar productos
            </a>
        </li>
        <li>
            <a href="./usersPanel">
                <div class="usersPanel-button" id="usersPanel-button">
                    Usuarios Registrados
                </div>
            </a>
        </li>
        <li>
            <a id="btn-logout" class="btn-logout">Cerrar sesión</a>
        </li>
    </ul>
</nav>

<script src="js/logout.js"></script>

